.sidebar {
  height: 150vh !important;
  margin-top: -200px;       
  width: 150px;
  padding: 5px;
  position: fixed;     
  flex-direction: column;
  /* height: 1000px; */
}

.sidebar .navbar-nav {
  flex-direction: column; 
}

.sidebar .nav-link {
  margin-bottom: 10px;
}

.brand {
  margin-top: 300px !important;
}


.navbtn {
  margin-top: -10px;
  border: none;
}

.nbt1 {
  font-weight: bold;
}

.logoimg1 {
  position: fixed;
  top: 5px;
  left: 35px;
  width: 100px;
  height: 100px;
}

.nav {
  height: 120%;
  background-color: #2a3144;
}

.dashicon {
  color: #3b82f6;
}

.instricon {
  color: #8b5cf6;
}

.settingicon {
  color: #6b7280;
}

.logout {
  border: 0px;
  background-color: rgb(249, 191, 191);
  color: red;
  font-weight: bold;
  font-size: 15px;
  margin-top: -7px;
}

hr {
  border: none;
  height: 0.5px;
  background-color: black;
  margin-top: -15px;
}

.dashboard-content {
  margin-left: 150px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .logoimg1 {
    left: 15px; 

  }
  
  .sidebar {
    height: 100vh;
    margin-top: -200px;       
    width: 120px;
    padding: 5px;
    position: fixed;     
    flex-direction: column;
    height: 1000px !important;
  }
  
  .dashboard-content {
    margin-left: 120px;
  }
}
